# Production. La DB = même serveur que application-dev.yml
# Toujours mettre les valeurs entre quotes (URL JDBC contient des &)
SPRING_PROFILES_ACTIVE=prod
GATEWAY_BIND_HOST=0.0.0.0
GATEWAY_HOST_PORT=8999
JAVA_OPTS="-XX:MaxRAMPercentage=75.0"

CMK_PRIMARY_DB_URL="jdbc:mysql://192.168.100.254:32768/cmkerp-v24prod?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true&useCompression=true&useServerPrepStmts=true&cachePrepStmts=true&prepStmtCacheSize=250&prepStmtCacheSqlLimit=2048&rewriteBatchedStatements=true&useLocalSessionState=true&elideSetAutoCommits=true&alwaysSendSetIsolation=false&cacheServerConfiguration=true&cacheResultSetMetadata=true&cacheCallableStmts=true&enableQueryTimeouts=true&useUnicode=true&characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull&maintainTimeStats=false"
CMK_PRIMARY_DB_USER="cmkroot"
CMK_PRIMARY_DB_PASSWORD="CMK***beach-server+++MySQL8"

CMK_JWT_SECRET="ChangeMoi-Tres-Long-ET-Tres-Sale"

MAIL_PASSWORD=""
